{% extends "base.html" %}

{%block content %}

    {% for message in messages%}
        <h4 style = "margin: 0 auto; text-align: center; color: green">{{message}}</h2>
    {% endfor %}
    
    <h1>{{servicio.nombre}}</h1>
    <br>
    
    <h4>Sacar Turno Manual</h4>
    <a class="btn btn-secondary" href="{% url 'pedir_turno' servicio.id user.id %}">Turno</a>
    <!-- <button id= 'botoncito' ></button> -->

    <div class="row" style="padding-bottom:40px;">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-7 col-md-10">
            <div id='calendar'></div>
        </div>
        <div class="col-lg-3 col-md-2">
            <h3>Turnos Pendientes:</h3><br>             
            {% for t in turnos_sin_confirmar %}
                           
                <div class="card" style="width: 400px;">
                    <div class="card-body">
                        <h4 class="card-title letracaja colorcito text-uppercase">{{t.cliente.first_name}} {{t.cliente.last_name}}</h4>
                        <h6 class="card-subtitle letracaja mb-2 text-muted"> {{t.fecha_inicio }}</h6>
                        <button class="rightalign colorcito"> <a href="{% url 'cambiar_estado_turno' t.servicio.id t.id 1 %}" class="card-link luisito">Aceptar</a> </button>
                        <button class="rightalign colorcito"> <a href="{% url 'cambiar_estado_turno' t.servicio.id t.id 0 %}" class="card-link luisito">Rechazar</a> </button>   
                    </div>
                </div>
            {% empty %}
            <h4>No posee turnos pendientes</h4>
            {% endfor %}
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
    


    <div style="display: none" id="jsonData" data-json="{{ turnos }}"></div>

    <script>        
        document.addEventListener('DOMContentLoaded', function() {
            
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale : "es",
                initialView: 'timeGridWeek',
                slotMinTime: "07:00:00",
                slotMaxTime: "21:00:00",
                displayEventTime : false, 

                headerToolbar: {               
                },
            });
            var data = JSON.parse(document.querySelector("#jsonData").getAttribute('data-json'));     
            //console.log(data);
            for (let index = 0; index < data.length; index++) {
                calendar.addEvent({
                    title: data[index].cliente,
                    start: data[index].fecha_inicio,
                    end: data[index].fecha_fin,
                    allDay: false,
                    });  
            }
        
            calendar.render();
        });


    </script>

    <style>
        #calendar {
            max-width: 1000px;
            margin: 0 auto;
        }
        
    </style>
{% endblock %}    








