{% include "header.html" %}

{%block content %}   
    


<div class="row margenizqconinferior superior ">
    <form method="GET">
        {%csrf_token%}
        <div>
            <input class="anchocien" type="text" name="buscar_servicio" id="" value="{{request.GET.buscar_servicio}}">
            <button class="btncategoria" type="submit">Buscar</button>
        </div> 
    </form>

</div>


<div class="row margenizqconinferior ">
    <div class="container" >
        <div class="dropdown dropend">
            <button class="btn btn-secondary dropdown-toggle anchocien" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if subcategoria %}
                     {{ subcategoria.nombre}}
                {%else%}
                    Categorias
                {%endif%}
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                
                {%for categoria in categorias %}
                <div class="dropdown dropend">                   
                    <a class="dropdown-item dropdown-toggle" href="#" id="dropdown-layouts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{categoria.nombre}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-layouts">
                        {% for subcategoria in categoria.traerSubcategorias.all %}
                            
                            <a class="dropdown-item" id = "item_subcategoria" href="{% url 'categorias_filtro' subcategoria.id%}">{{subcategoria.nombre}}</a>
                        {% endfor %}                       
                    </div>
                </div>
                {%endfor%}                
            </div>
        </div>
    </div>

</div>

<div class="row margenizqconinferior anchocien">
    <select name="elegir_ciudad" id = "elegir_ciudad" onchange="myFunction()">
        <option value="">
            {% if request.GET.elegir_ciudad %}
                {{request.GET.elegir_ciudad}}
            {% else %}
                Seleccione una ciudad
            {% endif %}
        </option>
        <option value="Rafaela">Rafaela</option>
        <option value="Santa Fe">Santa Fe</option>
        <option value="Rosario">Rosario</option>
    </select>

</div>

    <div class="card-group border border-black margenizqconinferior">  
            {%for item in servicios %}
            <div class="card">     
                <div class="card-body text-center">
                    <div class="card-title letracaja colorcito text-uppercase"><p>{{item.nombre}} </p> </div>
                    <h6 class="card-subtitle letracaja mb-2 text-muted">{{item.propietario.first_name}} {{item.propietario.last_name}}</h6>
                    <h6 class="card-subtitle letracaja mb-2 text-muted">{{item.categoria}}</h6>
                    <div class="panel-text"><p>{{item.descripcion}}</p></div>
                    <div class="panel-foocter textosacarturno"><a id="id_sacarTurno" class="btn btn-primary stretched-link textosacarturno " href="{% url 'pedir_turno' item.id item.propietario.id %}">Sacar turno</a></div>
                </div>
            </div>
             
            {%endfor%}  
    </div>


    <script>

    var items = document.querySelectorAll('#item_subcategoria');
    console.log(items);
    
    function redirigirCategoria(){
        var ciudad = document.getElementById("elegir_ciudad").value;
        var subcategoria = document.getElementById("dropdownMenuButton").innerText;
        if (ciudad = 'Seleccione una ciudad')
            url = 'http://sacatuturno.herokuapp.com/categorias/'+ subcategoria + '/';
        else 
            url = 'http://sacatuturno.herokuapp.com/categorias/'+ subcategoria + '/' + ciudad + '/';
        window.location.replace(url) 
    }
    
    for (var i = 0; i < items.length; i++) {
        items[i].addEventListener("click", redirigirCategoria);  
    }
    
    /*window.onload = function() {

    }*/

    function myFunction() {
        var ciudad = document.getElementById("elegir_ciudad").value;
        var subcategoria = document.getElementById("dropdownMenuButton").innerText
        if (subcategoria = 'Categorias')
            url = 'http://sacatuturno.herokuapp.com/categorias/'+ ciudad + '/';
        else 
            url = 'http://sacatuturno.herokuapp.com/categorias/'+ subcategoria + '/' + ciudad + '/';

        window.location.replace(url);
    }

    

        (function($bs) {
    const CLASS_NAME = 'has-child-dropdown-show';
    $bs.Dropdown.prototype.toggle = function(_orginal) {
        return function() {
            document.querySelectorAll('.' + CLASS_NAME).forEach(function(e) {
                e.classList.remove(CLASS_NAME);
            });
            let dd = this._element.closest('.dropdown').parentNode.closest('.dropdown');
            for (; dd && dd !== document; dd = dd.parentNode.closest('.dropdown')) {
                dd.classList.add(CLASS_NAME);
            }
            return _orginal.call(this);
        }
    }($bs.Dropdown.prototype.toggle);

    document.querySelectorAll('.dropdown').forEach(function(dd) {
        dd.addEventListener('hide.bs.dropdown', function(e) {
            if (this.classList.contains(CLASS_NAME)) {
                this.classList.remove(CLASS_NAME);
                e.preventDefault();
            }
            e.stopPropagation(); // do not need pop in multi level mode
        });
    });

    // for hover
    document.querySelectorAll('.dropdown-hover, .dropdown-hover-all .dropdown').forEach(function(dd) {
        dd.addEventListener('mouseenter', function(e) {
            let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
            if (!toggle.classList.contains('show')) {
                $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                dd.classList.add(CLASS_NAME);
                $bs.Dropdown.clearMenus();
            }
        });
        dd.addEventListener('mouseleave', function(e) {
            let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
            if (toggle.classList.contains('show')) {
                $bs.Dropdown.getOrCreateInstance(toggle).toggle();
            }
        });
    });
})(bootstrap);
    </script>

{% endblock %}