{% extends "base.html" %}

{%block content %}
    <h1> Categorias </h1>
    <ul>
        {%for categoria in categorias %}
        <li><a href="{% url 'subcategoria' categoria.id %}">{{categoria.nombre}}</a></li>
        {%endfor%}  
    </ul>

{% endblock %}

<!-- {% include "header.html" %} -->

<!-- <form method="post">
        {%csrf_token%}

         <label>Nombre servicio</label>
        {{form.nombre}} <br>
        <label>Descripcion</label>
        {{form.descripcion}} <br>
        <label>Categoria</label>
        {{form.categoria}} <br>
        <label>Subcategoria</label>
        {{form.subcategoria}} <br> -->

       <!--  <button type="submit">Crear</button> -->
  <!--       
        <section class="vh-100 gradient-custom">
                <div class="container py-3 h-80">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body mt-2 text-center">
                
                            <div class="mb-md-5 mt-md-4 pb-2">
                
                                <h2 class="fw-bold mb-2 text-uppercase text-center">CREAR SERVICIO </h2>
                                <p class="text-white-50 mb-5 text-center">Complete los campos solicitados</p>
                                                       
                                
                                <div class="form-outline form-white mb-4 row" >
                                    <label class="form-label col-6" >Nombre del servicio: </label>
                                    <a class="col-6" > 
                                        {{form.nombre}}
                                    </a>
                                </div>
                
                                <div class="form-outline form-white mb-4 row">
                                    <label class="form-label col-6 text-center">Descripcion del servicio:</label>
                                    <a class="col-6"> 
                                        {{form.descripcion}}
                                    </a>
                                </div>
                                <div class="form-outline form-white mb-4 row">
                                        <label class="form-label col-6 text-center">Categoría:</label>
                                        <a class="col-6"> 
                                            {{form.categoria}}
                                        </a>
                                </div>
                                <div class="form-outline form-white mb-4 row">
                                        <label class="form-label col-6 text-center">Sub-Categoría:</label>
                                        <a class="col-6"> 
                                            {{form.subcategoria}}
                                        </a>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Crear</button>
                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
                </div>
            </section>



</form> -->