{% extends "base.html" %}


    <div class="container-fluid text-center">
        {%block content %}
        <div class="container" style="text-align: center;">
            <h1>Bienvenido</h1>
            <p>Sitio en contrucción</p>       
           
        </div>
        
        {% if request.user.is_active %}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body" href="{%url 'registrarservicio'%}"> Ofrecer servicio </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-body" href="{%url 'registrarservicio'%}"> Sacar un turno </div>
                    </div>
                </div>
            </div>           
            
        </div>    
        {% endif %}

        {% if estadoActivacion %}
            <div class="alert alert-secondary" role="alert">
                {{estadoActivacion}}
             </div>
        
        {% endif %}



        {% endblock %}
    </div>

 


