{% extends "base.html" %}


    <div class="container-fluid text-center">
        {%block content %}
        <div class="container colorcito">
            <h1 class="estilohome centeralign">Bienvenido!</h1>          
        </div>
        
        
        <div class="container">
            <div class="row">
                <div class="col-3 border-0"></div>
                <div class="col-3">
                    <a href="{%url 'categorias'%}">
                        <div class="card" style="border-style: none!important;">
                            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/661/661512.png" alt="logo turno">
                            <div class="card-body colorcito letracaja centeralign negrita"> <a>SACAR UN TURNO</a>  </div>
                        </div>
                    </a>                    
                </div>
                <div class="col-3 border-0">
                    <a href="{%url 'registrarservicio'%} ">
                        <div class="card" style="border-style: none!important;">
                            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/686/686348.png" alt="Card image cap">
                            <div class="card-body colorcito letracaja centeralign negrita"> <a> OFRECER SERVICIO </a></div>
                        </div>
                    </a>
                </div>
                <div class="col-3"></div>                
            </div>                      
        </div>   
        

            {% if estadoActivacion %}
                <div class="alert alert-secondary" role="alert">
                    {{estadoActivacion}}
                </div>
            
            {% endif %}
        {% endblock %}
    </div>

 


