{% include "header.html" %}

<form method="POST">
{%csrf_token%}

    <section class="vh-100 gradient-custom">
        <div class="container py-3 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body mt-2">
    
                    <div class="mb-md-5 mt-md-4 pb-5 text-center">
        
                        <h2 class="fw-bold mb-2 text-uppercase text-center">INGRESAR</h2>
                        <p class="text-white-50 mb-5 text-center">Ingrese su nombre de usuario y contraseña</p>
                                               
                        
                        <div class="form-outline form-white mb-4 row" >
                            <label class="form-label col-4" >Usuario: </label>
                            
                            <a class="col-8" > 
                                {{form.username}}
                            </a>
                            <!--<input type="email" id="typeEmailX" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX">Email</label>-->
                        </div>
        
                        <div class="form-outline form-white mb-4 row">
                            <label class="form-label col-4 text-center">Contraseña:</label>
                            <a class="col-8"> 
                                {{form.password}}
                            </a>
                            <!--<input type="password" id="typePasswordX" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Contraseña</label>-->
                        </div>
        
                        <!--<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>-->
                        <button class="btn btn-outline-light btn-lg px-5" href= "{%url 'home'%}" >Volver</button>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Ingresar</button>
                    </div>
        
                    <div>
                        <p class="text-center">No tienes cuenta? <a href="{% url 'crearcuenta' %}}" class="text-white-50 fw-bold">Registrarse</a></p>
                    </div>
    
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</form>

<!--  -->

