{% include "header.html" %}

<form method="POST">
{%csrf_token%}

    <section class="vh-100 gradient-custom">
        <div class="container py-3 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-8 col-xl-8"></div>
            <div class="card bg-dark text-white cajaborde">
                <div class="card-body mt-2">
    
                    <div class="mb-md-5 mt-md-4 pb-5 text-center">
        
                        <h2 class="fw-bold mb-2 text-uppercase titulocaja colorcito text-center">INGRESAR</h2>
                        <p class="text-white-50 mb-5 letracaja text-center">Ingrese su nombre de usuario y contraseña</p>
                                               
                        
                        <div class="form-outline form-white mb-4 row" >
                            <label class="form-label col-6 rightalign letracaja" >Usuario: </label>
                            
                            <a class="col-6 anchocien" > 
                                {{form.username}}
                            </a>                           
                        </div>
        
                        <div class="form-outline form-white mb-4 row">
                            <label class="form-label col-6 rightalign letracaja">Contraseña:</label>
                            <a class="col-6 anchocien"> 
                                {{form.password}}
                            </a>
                            
                        </div>
        
                        <!--<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>-->
                        <button class="btn btn-outline-light btn-lg px-5 colorcito" href= "{%url 'home'%}" >Volver</button>
                        <button class="btn btn-outline-light btn-lg px-5 colorcito" type="submit">Ingresar</button>
                        <a href="javascript: history.go(-1)">Volver</a>

                        {% for message in messages %}    
                            <div class="alert">
                                <a class="text-danger href="#" data-dismiss="alert" style="text-decoration: none;">{{ message }}</a>
                                
                            </div>
                        {% endfor %}
                    </div>
        
                    <div>
                        <p class="text-center">No tienes cuenta? <a class="link text-white-50 fw-bold" href= "{%url 'crearcuenta'%}">Registrarse</a></p>
                    </div>
    
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>

    
</form>

