{% include "base.html" %}

{% for message in messages%}
    <h4 style = "margin: 0 auto; text-align: center">{{message}}</h2>
{% endfor %}
<section class="vh-100 gradient-custom">
    <div class="container py-3 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-8 col-xl-8">
                <div class="card bg-dark text-white cajaborde" >
                    <div class="card-body mt-2 text-center">       
                        <div class="mb-md-5 mt-md-4 pb-2">       
                            <h2 class="fw-bold mb-4 text-uppercase titulocaja text-center colorcito">Bienvenido {{request.user.username}}! </h2>
                                                                    
                            <div class="form-outline form-white mb-4 row" >
                                <label class="form-label col-6 letracaja rightalign">Nombre: </label>
                                <div class="col-6 leftalign " > 
                                    {{request.user.first_name}}
                                </div>
                            </div>
            
                            <div class="form-outline form-white mb-4 row">
                                <label class="form-label col-6 letracaja rightalign" >Apellido:</label>
                                <p class="col-6 leftalign"> 
                                    {{request.user.last_name}}
                                </p>
                            </div>
                            <div class="form-outline form-white mb-4 row">
                                    <label class="form-label col-6 letracaja rightalign" >Email:</label>
                                    <p class="col-6 leftalign "> 
                                        {{request.user.email}}
                                    </p>
                            </div>                                
                            <a class="btn btn-outline-light btn-lg px-5 colorcito" type="submit" href= "{% url 'home' %}" >Volver</a>
                            
                        </div>         
                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h2 class="leftalign colorcito mt-3">Mis Turnos: </h2>
    <div class = "leftalign mt-3"></div>
        <div style = "display: flex; flex-direction: row; align-items:center">
            <div class="fc-daygrid-event-dot" style="margin-left: 200px;" ></div>
            <p style = "margin: 0 0">-> Turnos confirmados </p>
        </div>
        <div style = "display: flex; flex-direction: row; align-items:center">
            <div class="fc-daygrid-event-dot" style="margin-left: 200px; border-color: red" ></div>
            <p style = "margin: 0 0">-> Turnos pendientes de confirmación </p>
        </div>
        
    </div>
    
    <div id='calendar'></div>

    <div class="row">
        <div class="col-lg-4">
            <h2 class="leftalign colorcito mt-3">Mis Servicios: </h2>
        </div>
        <div class="col-lg-8">
            <div class="container mt-5 mb-5">            
                {%for servicio in servicios %}       
                <div id="card_perfil" class="card" style="width: 650px;">
                    <div class="card-body">
                        <h4 class="card-title letracaja colorcito text-uppercase">{{servicio.nombre}}</h4>
                        <h6 class="card-subtitle letracaja mb-2 text-muted">{{servicio.categoria}}</h6>
                        <p class="card-text"> Descripción: {{servicio.descripcion}}</p>
        
                        
                        <button class="btn btn-secondary btn-outline-dark rightalign"> <a href="{% url 'editar_servicio' servicio.id servicio.propietario.id %}" class="card-link luisito">Editar</a> </button>
                        <button class="btn btn-secondary btn-outline-dark rightalign">
                             <a href="{% url 'eliminar_servicio' servicio.id servicio.propietario.id %}" onclick="alert('Está seguro que desea eliminar el servicio?')" class="card-link luisito">Eliminar</a> 
                        </button>
                        <button class="btn btn-secondary btn-outline-dark rightalign"> <a href="{% url 'agenda' servicio.id %}" class="card-link luisito">Agenda</a> </button>                      
                        
                        
                    </div>
                </div>
                {% empty %}
                    <h1>Aun no posee servicios</h1>
                    <h3>Si desea ofrecer algun servicio, haga click aqui:  <a class="btn btn-secondary" href="{%url 'registrarservicio'%} "> OFRECER SERVICIO</a></h3>
        
                {% endfor %}
            </div>
        </div>
    </div>   
    
    <div id="turnos"></div>

       
</section>


<style>
    #calendar {
      max-width: 880px;
      margin: 0 auto;
    }
  
</style>

<div style="display: none" id="jsonData" data-json="{{ turnos }}"></div>



<script>
        


    document.addEventListener('DOMContentLoaded', function() {
        
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale : "es",
            slotMinTime: "07:00:00",
            slotMaxTime: "21:00:00",
            weekends: false,
            headerToolbar: {           
            },
        });
        var data = JSON.parse(document.querySelector("#jsonData").getAttribute('data-json'));     
        //console.log(data);
        for (let index = 0; index < data.length; index++) {
            if (data[index].confirmado == true)
                colorEvento = 'light blue';
            else 
                colorEvento = 'red';
            console.log(colorEvento);
            calendar.addEvent({
                title: data[index].nombreServicio,
                start: data[index].fecha_inicio,
                end: data[index].fecha_fin,
                color: colorEvento,
                allDay: false
                });  
        }
    
        calendar.render();
    });

</script>
