{% extends "base.html" %}

{%block content %}
<form method="post">
    {%csrf_token%}
    
    <section class="vh-100 gradient-custom">
        <div class="container py-3 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-8 col-xl-8">
            <div class="card bg-dark text-white cajaborde">
                <div class="card-body mt-2 text-center">
        
                    <div class="mb-md-5 mt-md-4 pb-2">
        
                            <h2 class="fw-bold mb-2 colorcito titulocaja text-uppercase">CREAR CUENTA</h2>
                            <p class="text-white-50 mb-5 letracaja">Complete los campos por favor</p>
                                        
                            <div class="form-outline form-white mb-4 row">
                                <label class="form-label col-6 letracaja rightalign" >Nombre de Usuario:</label>
                                <a class="col-6 anchocien"> 
                                    {{form.username}}
                                </a>                               
                            </div>
                            <div class="form-outline form-white mb-4 row">
                                <label class="form-label col-6 letracaja rightalign">Nombre:</label>
                                <a class="col-6 anchocien"> 
                                    {{form.nombre}}
                                </a>                               
                            </div>
                            
                            <div class="form-outline form-white mb-4 row">
                                <label class="form-label col-6 letracaja rightalign">Apellido:</label>
                                <a class="col-6 anchocien"> 
                                    {{form.apellido}}
                                </a>                               
                            </div>

                            <div class="form-outline form-white mb-4 row">
                                <label type="email" class="form-label col-6 letracaja rightalign">Email:</label>
                                <a class="col-6 anchocien"> 
                                    {{form.email}}
                                </a>                              
                            </div>

                            <div class="form-outline form-white mb-4 row">
                                <label class="form-label col-6 letracaja rightalign">Contraseña:</label>
                                <a class="col-6 anchocien"> 
                                    {{form.password1}}
                                </a>                                
                            </div>

                            <div class="form-outline form-white mb-4 row">
                                <label class="form-label col-6 letracaja rightalign">Repetir Contraseña:</label>
                                <a class="col-6 anchocien"> 
                                    {{form.password2}}
                                </a>                               
                            </div>

                            
                                
            
                            <button class="btn btn-outline-light btn-lg px-5 colorcito" type="submit">Enviar</button>                                      
                    </div>         
        
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>  
    
</form>
    
{% for message in messages %}
    
    <div class="alert">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}

{% endblock %}
