{% include "header.html" %}

<form method="post">
        {%csrf_token%}
             
        <section class="vh-100 gradient-custom">
        <div class="container py-3 h-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body mt-2 text-center">
        
                    <div class="mb-md-5 mt-md-4 pb-2">
                                {%if servicio  %}
                                <h2 class="fw-bold mb-2 text-uppercase text-center">MODIFICAR SERVICIO </h2>
                                {% else %}
                                <h2 class="fw-bold mb-2 text-uppercase text-center">CREAR SERVICIO </h2>
                                {%endif%}
                                <p class="text-white-50 mb-5 text-center">Complete los campos solicitados</p>
                                                       
                                
                                <div class="form-outline form-white mb-4 row" >
                                    <label class="form-label col-6" style="text-align: right;" >Nombre del servicio: </label>
                                    <a class="col-6" > 
                                        {{form.nombre}}
                                    </a>
                                </div>
                
                                <div class="form-outline form-white mb-4 row">
                                    <label class="form-label col-6" style="text-align: right;">Descripcion del servicio:</label>
                                    <a class="col-6" style="height: 110px; width: 200px;"> 
                                        {{form.descripcion}}
                                    </a>
                                </div>
                                <div class="form-outline form-white mb-4 row">
                                        <label class="form-label col-6" style="text-align: right;">Categoría:</label>
                                        <a class="col-6">
                                                {%if servicio %}
                                                <select  name="categoria" onchange="mostrarSubcategorias()" id="id_categoria">
                                                        <option value="{{servicio.categoria.id}}" selected="">{{servicio.categoria}}</option>
                                                     
                                                </select>                                                                                                     
                                                {% else %}
                                                        {{form.categoria}} 
                                                {%endif%} 
                                                
                                        </a>
                                </div>
                                <div class="form-outline form-white mb-4 row">
                                        <label class="form-label col-6" style="text-align: right;">Sub-Categoría:</label>
                                        {%if servicio %}
                                        <select  name="subcategoria" onchange="mostrarSubcategorias()" id="id_subcategoria">
                                                <option value="{{servicio.subcategoria.id}}" selected="">{{servicio.subcategoria}}</option>
                                             
                                        </select>                                                                                                        
                                        {% else %}
                                                <select name="subcategoria" data-minimum-input-length="0" data-allow-clear="true" data-placeholder id="id_subcategoria"></select> 
                                        {%endif%} 
                                        
                                </div> 
                                
                                
                                
                                {%if servicio %}
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Guardar Cambios</button>  
                                {% else %}
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Crear</button>  
                                {%endif%}
                                                            
                                
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </section>

            

</form>

{% for message in messages %}
    
    <div class="alert">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}

<script>

        function mostrarSubcategorias(){
        var x = document.getElementById("id_categoria").value
        $.ajax({
                url: "../traerSubcategorias/" + x,
                type: 'GET',
                dataType: 'json',
                success: function(data){
                        var select = document.getElementById("id_subcategoria");
                        for (let i = select.options.length; i >= 0; i--) {
                                select.remove(i);
                        }

                        if (data.length != 0){
                                for (let i = 0; i < data.length; i++){
                                        var option = document.createElement('option');
                                        option.value = data[i].pk;
                                        option.text = data[i].fields.nombre;
                                        select.appendChild(option);
                                }
                        }
                        else{
                                var option = document.createElement('option');
                                option.text = "No existen subcategorias registradas";
                                option.disabled = true;
                                select.appendChild(option);
                        }
                        },
                error: function() {
                        var select = document.getElementById("id_subcategoria");
                        for (let i = select.options.length; i >= 0; i--) {
                                select.remove(i);
                        }
                        }
        });

        }

</script>
