{% extends "base.html" %}

{%block content %}
    <h1> Profesionales </h1>
    <ul>
        <div class="card-group border border-black">  
            {%for item in servicios %}
            <div class="card">     
                <div class="card-body">
                    <div class="card-title"><p>{{item.propietario.first_name}} {{item.propietario.last_name}} </p> </div>
                    <div class="panel-text"><p>{{item.descripcion}}</p></div>
                    <div class="panel-foocter"><a href="{% url 'pedir_turno' item.id item.propietario.id %}">Sacar turno</a></div>
                </div>
            </div> 
            {%endfor%}  
        </div>
        
    </ul>

    <form method="GET">
        {%csrf_token%}
        <div>
            <input type="text" name="buscar_servicio" id="">
            <button type="submit">Buscar</button>
        </div> 
    </form>

    <style>
        #calendar {
          max-width: 1100px;
          margin: 0 auto;
        }
      
      </style>

    <div id='calendar'></div>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
      
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            initialDate: '2020-09-12',
            editable: true,
            selectable: true,
            businessHours: true,
            dayMaxEvents: true, // allow "more" link when too many events
            dateClick: function(info) {
                alert('Clicked on: ' + info.dateStr);
                alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                alert('Current view: ' + info.view.type);
                // change the day's background color just for fun
                info.dayEl.style.backgroundColor = 'red';
            },
            events: [
              {
                title: 'All Day Event',
                start: '2020-09-01'
              },
              {
                title: 'Long Event',
                start: '2020-09-07',
                end: '2020-09-10'
              },
              {
                groupId: 999,
                title: 'Repeating Event',
                start: '2020-09-09T16:00:00'
              },
              {
                groupId: 999,
                title: 'Repeating Event',
                start: '2020-09-16T16:00:00'
              },
              {
                title: 'Conference',
                start: '2020-09-11',
                end: '2020-09-13'
              },
              {
                title: 'Meeting',
                start: '2020-09-12T10:30:00',
                end: '2020-09-12T12:30:00'
              },
              {
                title: 'Lunch',
                start: '2020-09-12T12:00:00'
              },
              {
                title: 'Meeting',
                start: '2020-09-12T14:30:00'
              },
              {
                title: 'Happy Hour',
                start: '2020-09-12T17:30:00'
              },
              {
                title: 'Dinner',
                start: '2020-09-12T20:00:00'
              },
              {
                title: 'Birthday Party',
                start: '2020-09-13T07:00:00'
              },
              {
                title: 'Click for Google',
                url: 'http://google.com/',
                start: '2020-09-28'
              }
            ]
          });
      
          calendar.render();
        });
      
    </script>
    
{% endblock %}