{% include "header.html" %}
{% load static %}
<script src="{% static 'js/functions.js' %}"></script>

<form method="post">
    {%csrf_token%}
    
    <p>fecha</p>
    {{form.fecha_inicio}}

    <p>horario</p>
    {{form.horario}}
    {% if request.user.id ==  id_propietario %}
      <p>Ingrese el nombre del cliente</p>
      {{form.cliente_aux}}
    {% endif %}

    <button class="btn btn-secondary" id= 'botoncito' type="submit">crear</button>
    

    
    <style>
        #calendar {
          max-width: 1100px;
          margin: 0 auto;
        }
      
    </style>

    <div style="display: none" id="jsonData" data-json="{{ turnos }}"></div>
    
    <div class="container">
      <div id='calendar'></div>
    </div>

    <div style="display: none" id="jsonDataHora" data-json="{{ horarios }}"></div>
    
</form>


<script>
  function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [year, month, day].join('-');
}


  fecha_ahora = Date.now();
  fecha = formatDate(fecha_ahora);
  console.log(fecha);
  document.getElementById('id_fecha_inicio').setAttribute('min', fecha);
  

</script>

